body{
    background-image: linear-gradient(to right, gray, white);
}

.header{
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.home{
    background-color: white;
    text-align: center;
    margin-top: 20px;
}